# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/chat-backend/node_modules
/chat-frontend/node_modules
/chat-backend/.pnp
/chat-frontend/.pnp
/chat-backend/.pnp.js
/chat-frontend/.pnp.js

# testing
/chat-backend/coverage
/chat-frontend/coverage

# production
/chat-backend/build
/chat-frontend/build

# misc
/chat-backend/.idea
/chat-frontend/.idea
.DS_Store
.idea
/chat-backend/.DS_Store
/chat-frontend/.DS_Store
/chat-backend/.env.local
/chat-frontend/.env.local
/chat-backend/.env.development.local
/chat-frontend/.env.development.local
/chat-backend/.env.test.local
/chat-frontend/.env.test.local
/chat-backend/.env.production.local
/chat-frontend/.env.production.local

/chat-backend/npm-debug.log*
/chat-frontend/npm-debug.log*
/chat-backend/yarn-debug.log*
/chat-frontend/yarn-debug.log*
/chat-backend/yarn-error.log*
/chat-frontend/yarn-error.log*
