.chat-input {
    display: flex;
    position: relative;
    padding: 20px;

    &__smile-btn {
        margin-right: 15px;

        .anticon {
            margin-top: 12px;
        }
    }

    .ant-btn-circle {
        .anticon {
            cursor: pointer;
            font-size: 20px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        width: 80px;
        justify-content: space-between;
        margin-left: 20px;
    }

    input {
        padding: 6px 11px 8px;
        font-size: 14px;
        &:focus {
            box-shadow: none;
        }
    }
}
